// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// bg
spawn-at-startup "sane-break"
spawn-at-startup "flatpak" "run" "--command=pika-backup-monitor" "org.gnome.World.PikaBackup"
spawn-at-startup "~/.local/bin/activitywatch/aw-qt"
// app
spawn-at-startup "ghostty"
spawn-at-startup "emacs"
spawn-at-startup "flatpak" "run" "app.zen_browser.zen"
