copy_command "wl-copy" // I am using Wayland
show_startup_tips false // default: true

// https://zellij.dev/documentation/theme-list.html
theme "{{ theme }}"

ui {
    pane_frames {
        rounded_corners true // default: false
        hide_session_name true // default: false
    }
}
