layout {
  // Set gaps around windows in logical pixels.
  gaps 8

  focus-ring {
    active-color "{{primary}}"
    inactive-color "{{outline}}"
  }

  tab-indicator {
    active-color "{{primary}}"
    inactive-color "{{outline}}"
  }

  border {
    active-color "{{primary}}"
    inactive-color "{{outline}}"
  }

}
